// FONTS

$main-font:'Roboto', sans-serif;

//COLORS

$black-color: #000;
$white-color: #fff;
$orange-color: #ff8541;
$border-color: #555351;
$header-link-color: #1c1917;
// SIZES

$container-width: 1460px;
$container-padding: 20px;